extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb.color-pblue
        li.breadcrumb-item.active.h4 List Business Owners
      // Search
      form(action='/search/', method='GET')
        .form-row
          .col-lg-3.col-md-5.col-sm-5.col-xs-5
            .form-group
              input.form-control(type='text', placeholder='Keywords', name='keywords', value=keywords)
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="orderby")
                option(name='categories', value="categories") - Based on -
                option(name='it_service', value="it_service") Username
                option(name='fnb', value="fnb") Name
                option(name='fnb', value="fnb") Email
          .col-lg-1.col-md-1.col-sm-1.col-xs-1
            input.btn.color-ink.mb-3(type='submit', value='Search')
      .table-responsive.pb-5(style='color: black; margin-left: -15px;')
        table#dataTable.table-striped.table
          thead
            tr
              th Username
              th Name
              th Email
              th Phone Number
              th Last Login
              th Status
              th#action Action
          tbody
            for bo in data
              tr
                td= bo.username
                td= bo.first_name + ' ' + bo.last_name
                td= bo.email
                td= bo.phone_number
                - var last = bo.last_login
                if last !== 'Invalid date'
                  td= last
                else
                  td= '-'
                - var status = bo.status
                if status === true
                  td= 'Active'
                  td
                    a(href='#', onclick='deactive('+bo.id+')') Deactivate
                else
                  td= 'Inactive'
                  td= ''

      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content(style='color: black') 
            .modal-header
              h5#exampleModalLabel.modal-title Deactivate Account
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              | Are you sure you want to deactivate this account?
            .modal-footer
              button.btn.btn-danger(type='button', onclick='deactiveBO()') Deactive
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel

      script(type='text/javascript').
        function deactive (e) {
          window.idAdmin = e;
          $("#myModal").modal('show');
        }
        function deactiveBO(){
          var id = window.idAdmin;
          $.ajax({
            url:'/admin/delete/'+id,
            type:'POST',
            success : function (respon) {
            setTimeout(function() {$("#myModal").modal('hide');}, 1000);
            location.reload();
            }
          })
        }
        $(document).ready(function() {
          $('#dataTable').DataTable({
            "searching": false
          });
          $('#dataTable_paginate').addClass('pagination-sm');
          $('#action').removeClass('sorting');
          $('#dataTable_paginate').addClass('mt-2');
        });

  include ../includes/logout.pug

  include ../includes/footer.pug
