extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb.color-pblue
        li.breadcrumb-item.active.h4 Business
      // Search
      form(action='/search/', method='GET')
        .form-row
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .form-group
              input.form-control(type='text', placeholder='Keywords', name='keywords', value=keywords)
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="orderby")
                option(name='categories', value="categories") - Category -
                each value in categories
                  option(value=value.id) #{value.name}
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="sort")
                option(name='asc', value="ASC") - Sort by -
                option(name='asc', value="ASC") ASC
                option(name='desc', value="DESC") DESC
          .col-lg-1.col-md-1.col-sm-1.col-xs-1
            input.btn.color-ink.mb-3(type='submit', value='Search')
          a.plugin(href='/business-owner/business/create-business')
            i.fas.fa-plus-circle.fa-2x.my-float
      .table-responsive.pb-5(style='color: black; margin-left: -15px;')
        table#dataTable.table-striped.table
          thead
            tr
              th Name
              th Categories
              th Outlets
              th Action
          tbody
            for b in data
              tr
                td=b.business
                td=b.category_names
                td=b.count_outlet
                  | 
                  a(href='/business-owner/oulet/business/'+b.id) view outlets >
                td
                  .dropdown.show
                    a.btn.btn-sm.color-pblue.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | Action
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item(href='/business-owner/business/'+b.id)
                        i.fa.fa-edit  
                        |  Edit
                      a.dropdown-item(href='#', onclick='del('+b.id+')') 
                        i.fa.fa-trash
                        |  Delete
      
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content(style='color: black') 
            .modal-header
              h5#exampleModalLabel.modal-titleDelete Business
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              | Are you sure you want to delete this business?
            .modal-footer
              button.btn.btn-danger(type='button', onclick='deleteBusiness()') Delete
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel

      script(type='text/javascript').
        function del(e) {
          window.idBusiness = e;
          $("#myModal").modal('show');
        }
        function deleteBusiness(){
          var id = window.idBusiness;
          $.ajax({
            url:'/business-owner/business/delete/'+id,
            type:'POST',
            success : function (respon) {
            setTimeout(function() {$("#myModal").modal('hide');}, 1000);
            location.reload();
            }
          })
        }
        $(document).ready(function() {
          $('#dataTable').DataTable({
            "searching": false
          });
          $('#dataTable_paginate').addClass('pagination-sm');
          $('#dataTable_paginate').addClass('mt-2');
        });

  include ../includes/logout.pug

  include ../includes/footer.pug
  