extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb(style='background-color: #DAE1E7')
        li.breadcrumb-item.active.h4 Edit Business 2
      form.needs-validation(enctype="multipart/form-data", action='/business-owner/business/create-business', method='POST', novalidate='', style='color: black; margin-left: -12px;')
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='categories') Categories:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            //- select.form-control(name="orderby")
            //-   option(name='categories', value="categories") - Category -
            //-   each value in categories
            //-     option(value=value.id) #{value.name}
            select.form-control.selectpicker(name="category" multiple='')
              each value in categories
                option(value=value.id) #{value.name}
            .invalid-feedback
              | Please select category  
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='name') Business Name:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input.form-control(type='text', name='name', placeholder='Business Name', required='' value=business_name)
            .invalid-feedback
              | Please enter your business name
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='email') Email:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input.form-control(type='email', name='email', placeholder='Email', required='' value=email)
            .invalid-feedback
              | Please enter a valid email
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='phone_number') Phone Number:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input.form-control(type='text', name='phone_number', placeholder='Phone Number', required='' value=phone_number)
            .invalid-feedback
              | Please enter a valid phone number
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='website') Website:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input.form-control(type='text', name='website', placeholder='Website', required='' value=website)
            .invalid-feedback
              | Please enter your website
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='photo') Photo:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            img.img-thumbnail.mt-2.mb-2(src=path, alt=alt, width='180px', height='180px')
            .custom-file
              //- input.custom-file-input(type='file' name="photo" id="photo")
              //- label.custom-file-label Choose file...
              input#photo.form-control(type='file' accept="image/*" name='photo')
              input(type='hidden', value=file_name, name='old_photo')
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='Description') Description:
          .col-lg-8.col-md-8.col-sm-8.col-xs-8
            textarea.form-control(name="description", rows="4")
              =description
            .invalid-feedback
              | Please enter your description
        .form-group.col-lg-10.col-md-10.col-sm-10.col-xl-10
          label(for='address') Address:
          .card.mb-3
            .card-body
              .form-row
                .form-group.col-lg-12.col-md-12.col-sm-12.col-xl-12
                  input#pac-input.form-control(type='text', name='raw_address', placeholder='Enter an address', required='' value=raw_address)
              #map
              #infowindow-content
                img#place-icon(src='', width='16', height='16')
                span#place-name.title
                br
                span#place-address
              hr
              .form-row
                .form-group.col-lg-6.col-md-6.col-sm-6.col-xl-6
                  label Line 1:
                  input#line1.form-control(type='text', name='line1', placeholder='Line 1 Address', required='' value=line1)
                .form-group.col-lg-6.col-md-6.col-sm-6.col-xl-6
                  label Line 2:
                  input#line2.form-control(type='text', name='line2', placeholder='Line 2 Address', required='' value=line2)
              .form-row
                .form-group.col-lg-4.col-md-4.col-sm-4.col-xl-4
                  label Country:
                  input#country.form-control(type='text', name='country', placeholder='Country', required='' value=country)
                .form-group.col-lg-4.col-md-4.col-sm-4.col-xl-4
                  label Administrative Area Level 1:
                  input#adm1.form-control(type='text', name='adm_area_lv1', placeholder='Administrative Area Level 1', required='' value=adm_area_lv1)
                .form-group.col-lg-4.col-md-4.col-sm-4.col-xl-4
                  label Administrative Area Level 2:
                  input#adm2.form-control(type='text', name='adm_area_lv2', placeholder='Administrative Area Level 2', required='' value=adm_area_lv2)
              .form-row
                .form-group.col-lg-4.col-md-4.col-sm-4.col-xl-4
                  label Administrative Area Level 3:
                  input#adm3.form-control(type='text', name='adm_area_lv3', placeholder='Administrative Area Level 3', required='' value=adm_area_lv3)
                .form-group.col-lg-4.col-md-4.col-sm-4.col-xl-4
                  label Administrative Area Level 4:
                  input#adm4.form-control(type='text', name='adm_area_lv4', placeholder='Administrative Area Level 4', required='' value=adm_area_lv4)
                .form-group.col-lg-4.col-md-4.col-sm-4.col-xl-4
                  label Postal Code:
                  input#postal_code.form-control(type='text', name='postal_code', placeholder='Postal Code', required='' value=postal_code)
              .form-row
                .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-6
                  label Latitude:
                  input#lat.form-control(type='text', name='lat', placeholder='Latitude', required='' value=lat)
                .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-6
                  label Longitude:
                  input#lng.form-control(type='text', name='lng', placeholder='Longitude', required='' value=long)
              .form-row
                .form-group.col-lg-12.col-md-12.col-sm-12.col-xl-12
                  label Formatted Address:
                  input#formatted_address.form-control(type='text', name='formatted_address', placeholder='Enter an address', required='' value=formatted_address)
        input.btn.btn-md.color-ink.ml-3.mb-5(type='submit', value='Save')
        input.btn.btn-md.color-ink.ml-2.mb-5(type='submit', value='Cancel')
  
  include ../includes/logout.pug

  include ../includes/footer.pug
  
  script.
    $('.selectpicker').selectpicker({
      style: 'btn-select',
      size: 4
    });