extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb.color-pblue
        li.breadcrumb-item.active.h4 Outlets
      // Search
      form(action='/search/', method='GET')
        .form-row
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .form-group
              input.form-control(type='text', placeholder='Keywords', name='keywords', value=keywords)
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="orderby")
                option(name='categories', value="categories") - Category -
                each value in categories
                  option(value=value.id) #{value.name}
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="sort")
                option(name='asc', value="ASC") - City -
                option(name='asc', value="ASC") Yogyakarta
                option(name='desc', value="DESC") Semarang
          .col-lg-1.col-md-1.col-sm-1.col-xs-1.mb-3
            input.btn.color-ink(type='submit', value='Search')
          a.plugin(href='/business-owner/outlet/create-outlet')
            i.fas.fa-plus-circle.fa-2x.my-float
          //- a.float(href='/business-owner/outlets/create-outlet')
          //-   i.fa.fa-plus.my-float
      .table-responsive.pb-5(style='color: black; margin-left: -15px;')
        table#dataTable.table-striped.table
          thead
            tr
              th Name
              th Business
              th City
              th Page Views
              th Local Competitor
              th Global Competitor
              th#action Action
          tbody
            for o in data
              tr
                td=o.outlet_name
                td=o[`business.business_name`]
                td=o[`address.city_name`]
                td=o.count_view
                td 9
                td 110
                td 
                  .dropdown.show
                    a.btn.btn-sm.color-pblue.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | Action
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item(href='/business-owner/outlet/'+o.id) 
                        i.fa.fa-edit  
                        |  Edit
                      a.dropdown-item(href='#', onclick='del('+o.id+')') 
                        i.fa.fa-trash
                        |  Delete
            
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content(style='color: black') 
            .modal-header
              h5#exampleModalLabel.modal-titleDelete Delete Outlet
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              | Are you sure you want to delete this outlet?
            .modal-footer
              button.btn.btn-danger(type='button', onclick='deleteOutlet()') Delete
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel

      script(type='text/javascript').
        function del(e) {
          window.idOutlet = e;
          $("#myModal").modal('show');
        }
        function deleteOutlet(){
          var id = window.idOutlet;
          $.ajax({
            url:'/business-owner/outlet/delete/'+id,
            type:'POST',
            success : function (respon) {
            setTimeout(function() {$("#myModal").modal('hide');}, 1000);
            location.reload();
            }
          })
        }
        $(document).ready(function() {
          $('#dataTable').DataTable({
            "searching": false
          });
          $('#dataTable_paginate').addClass('pagination-sm');
          $('#action').removeClass('sorting');
          $('#dataTable_paginate').addClass('mt-2');
        });
                    
  include ../includes/logout.pug

  include ../includes/footer.pug
