extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb.color-pblue
        li.breadcrumb-item.active.h4 Reviews
      // Search
      form(action='/search/', method='GET')
        .form-row
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .form-group
              input.form-control(type='text', placeholder='Keywords', name='keywords', value=keywords)
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="orderby")
                option(name='business', value="business") - Business -
                  each value in business
                    option(value=value.id) #{value.name}
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="sort")
                option(name='asc', value="ASC") - Outlet -
                option(name='asc', value="ASC") Wonderlabs Armstrong
                option(name='desc', value="DESC") Wonderlabs Explorer
          .col-lg-1.col-md-1.col-sm-1.col-xs-1.mb-4
            input.btn.color-ink(type='submit', value='Search')
      .col-lg-11(style='margin-left: -12px;')
        for r in data
          strong
            h6(style='color: black;')
              =r.name
          p(style='color: gray; font-size: 14px')
            =r.createdAt
            |   - outlet : 
            a(href='/detail/outlet/'+r.outlet_id)
              =r.outlet_name
          p.text-justify(style='color: black; margin-top: -10px; margin-bottom: 5px;')
            =r.content
          //- p#rate.hidden
          //-   =r.rating
          //- p#rate(data-rt=r.rating style='color: black')
          //-   =r.rating
          //- span#stars
          //- span(class='stars')
          input(type='hidden', name='amount', value=r.rating)
          p.ini
            span.stars

          script.
            $(function() {    		
              $('p.ini').html('<span class="stars">'+parseFloat($('input[name=amount]').val())+'</span>');
              $('span.stars').stars();
            });

            $.fn.stars = function() {
              return $(this).each(function() {
                $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
              });
            }
            //- document.getElementById("stars").innerHTML = getStars(document.getElementById("rate").innerHTML);
            //- //- document.getElementById("stars").innerHTML = getStars('4');
            //- function getStars(rating) {
            //-   rating = Math.round(rating * 2) / 2;
            //-   let output = [];
            //-   for (var i = rating; i >= 1; i--){
            //-     output.push('<i class="fa fa-fw fa-star star-orange" aria-hidden="true"></i>');
            //-   }
            //-   if (i == .5) output.push('<i class="fa fa-fw fa-star-half-o star-orange" aria-hidden="true"></i>');
            //-   for (let i = (5 - rating); i >= 1; i--){
            //-     output.push('<i class="fa fa-fw fa-star-o star-orange" aria-hidden="true"></i>');
            //-   }
            //-   return output.join('');
            //- } 
          
          hr
          
      ul.pagination.pagination-sm.float-sm-left.mb-4.mt-3
        li.page-item
          a.page-link(href='#') Previous
        li.page-item
          a.page-link(href='#') 1
        li.page-item.active
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') Next
  include ../includes/logout.pug

  include ../includes/footer.pug

